extends layout

block content
  div(class="container")

    if user
      h1(class="h1") Nice to see you #{user.nickname} today!
      div.message-list-link
        a.nav-link(href=user.url + "/profile") user profile
      div.message-list-link
        a.nav-link(href=user.url + "/message/all") go to my messages
      div.list
        div.member-link
          a.nav-link(href=user.url + "/message/create") create new message
      
        if !user.membership_status
          div.member-link
            a.nav-link#sign(href=user.url+"/join") join the club
   
    else   
      h1(class="h1") To see more you have to logged in.

    if messages.length
      div.messages.b-radious-1
        for message in messages 
          div.message
            div.message__content
              h3.message__title=message.title 
              p.message__text=message.text
              if user
                if user.membership_status
                  div.message__details
                    span.message__author Created: by #[strong=message.user.nickname]
                    span.message__timestamp=message.timeStamp.toLocaleString()
            if user 
              if user.admin 
                div.message__controls 
                  a.message__link.delete(href=user.url + message.url +"/delete") Delete Message
    else   
      div.nomessages There is no messages.